# Ignore thumbnails created by windows / MacOS.
Thumbs.db
.DS_Store
# Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.sdf
*.opensdf

# We don't want to ignore the main release folder scripts.
.vs
!/release/
/release/2.1*/
build/nuspec/SharpGLCore/lib/
build/nuspec/SharpGLforWinForms/lib/
build/nuspec/SharpGLforWPF/lib/
release/2.*
source/SharpGL/packages/

# Artifacts and vs code.
source/SharpGL/.vs
source/SharpGL/artifacts

# Ignores for the extensions.
extensions/build/SharpGL.2010.vsix
extensions/build/SharpGL.vsix
extensions/Seeds/packages
*.GhostDoc.xml
source/SharpGL/.idea/.idea.SharpGL/.idea/discord.xml
source/SharpGL/.idea/.idea.SharpGL/.idea/encodings.xml
source/SharpGL/.idea/.idea.SharpGL/.idea/indexLayout.xml
source/SharpGL/.idea/.idea.SharpGL/.idea/vcs.xml
source/SharpGL/Core/SharpGL.WinForms/SharpGL.WinForms.csproj.DotSettings
